<div class='sixteen columns'>
  <div class='eight columns omega aside-container'>
    <h4><%= @post['title'] %> by <%= @user['username'] %></h4>
    <%= @post['content'] %>
  </div>
  
  <div class='eight columns omega aside-container'>
    <h4>Comments section</h4>
    <form action="/posts/<%= @post['id'] %>/comments" method='post'>
      <input type='text' placeholder='New comment' name='content'>
      <input type='hidden' name='user_id' value='<%= @current_user['id'] %>'>
      <input type='submit' value='Submit'>
    </form>
  
    <% @comments.each do |comment| %>
      <form action="/delete_comment" method="post">
      <input type='hidden' name='id' value='<%= comment['id'] %>'>
      <input type='hidden' name='page_id' value='<%= @post['id'] %>'>
      <p><%= comment['user'] %>: <%= comment['content'] %> <% if comment['user_id'] == @current_user['id'] %><button>Delete Comment</button>
      <% end %></p></form>
      
    <% end %>
  </div>
</div><!-- end sixteen columnns -->

